.container{
    height: 100vh;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    width: 90%;
    height: 90%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.formControl{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
input{
    height: 40px;
    outline: none;
    padding: 10px;
}
.submitBtn{
    height: 40px;
    width: 30%;
    margin: 0 auto ;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: 500px;
}
.socialMediaLogin{
    border: 2px solid black;
}