.container{
    /* border: 1px solid black; */
    height: 50vh;
    width: 100%;
    display: grid;
    grid-template-rows: 30% 70%;
    
}
.text{
    height: 100%;
    width: 100%;
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.img{   
    /* border: 2px solid black;  */
    height: 50%;
     width: 100%;

}
.box2{
    display: none;
}
.image{
    width: 100%;
    height: 100%;
}

@media screen and (min-width:768px){
    .container{
        display: grid;
        margin: 1rem 0;
        grid-template-columns: 40% 60%;
        grid-template-rows: 100%;
        /* border: 2px solid red; */
    }
    .text div{
        width: 70%;
    }
    .text{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        /* border: 2px solid black; */
        height: 100%;
        text-align: start;
    }
    .img{
        height:50vh;
        /* border: 3px solid red; */
        display: flex;

    }
    .box,.box2{
        width: 100%;
        height: 100%;
        display: block;
        /* border: 4px solid blue; */
    }
    .img2{
        width: 100%;
        height: 100%;
    }
   
}