.container{
    /* border: 2px solid black;                                                                                                                             */
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.listWrapper{
    list-style: none;
    display: flex;
    gap: 1rem;
}
.care{
    color: #0399FC;
    text-decoration: none;
}
 .auth{
    text-decoration: none;
    background-color: #0399FC;
    border: 1px solid #0399FC;
    padding: 10px;
    border-radius: 5[x];
}
